*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inizio main */

body{
    font-family: sans-serif;
}


/* inizio main */


/* buttons */
.buttons{
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    gap: 30px;

        
    
}

.buttons a{
    text-decoration: none;
}

.buttons .btn{
    padding: 5px 8px;
    
    border-radius: 5px;

    background-color: #4a4a4a;
    color: white;

}



main{
    position: relative;
    padding-top: 80px;
    background-color: #000000;
    
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 10px 6px;

    
    max-width: 1820px;
    height: 100vh;
    

    margin-left: auto;
    margin-right: auto;

}


.container .webcam {
   
    position: relative;
    color: white;


    width: calc(100%/7 - 10px / 7 * 6);
}


.container .webcam .user{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.164);
    padding: 8px;
}

.container .webcam img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}





/* inizio navbar */

nav{
    background-color: aqua;
    height: 100px;
    /* test */

    position: fixed;
    width: 100%;

    display: flex;
    justify-content: space-between;


    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1;

}