*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* inizio main */

body{
    font-family: sans-serif;
}


/* inizio main */


/* buttons */
.buttons{
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    gap: 30px;

        
    
}

.buttons a{
    text-decoration: none;
}

.buttons .btn{
    padding: 5px 8px;
    
    border-radius: 5px;

    background-color: #4a4a4a;
    color: white;

}



main{
    /* position: relative; */
        background-color: #000000;
        height: 100vh;
        
    
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 10px 6px;

    padding: 100px;
    max-width: 1820px;
   
    height: 87vh;
    overflow: auto;

    margin-left: auto;
    margin-right: auto;

}


.container .webcam {
   
    position: relative;
    color: white;


    width: calc(100%/7 - 10px / 7 * 6);
}


.container .webcam .user{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.164);
    padding: 8px;
}

.container .webcam img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

}





/* inizio navbar */

nav{
    /* height: 100px; */
    /* test */
    
    position: fixed;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    
    
    bottom: 0px;
    left: 0px;
    z-index: 1;
    
    background-color: #222222;
    color: white;
}



.container-icon{
    display: flex;
    gap: 18px;

    padding: 20px;
}

.container-icon .cmnd{
    text-align: center;
    
    
}

.container-icon .cmnd .icon{
    padding-bottom: 5px;

    font-size: 24px;
}

.container-icon .expand{
    display: flex;
    align-items: center;

    transform: rotate(180deg);
    font-size: 10px;

}

.container-icon .cmnd:nth-child(4) .icon{
    color: #4bc800;
}

.btn-end{

    padding: 35px 22px;

    font-weight: bold;
    background-color: #4a4a4a;
    color: red;
    
}